{% if content %}
    {% if content.hero_bg_image.layout_builder_add_block %}
		{{ content.hero_bg_image }}
	{% endif %}
	{% if content.hero_bg_image|layout_bg_img %}
		{% set attributes = attributes.merge(content.hero_bg_image|layout_bg_img) %}
	{% endif %}
<div {{ attributes.addClass('grandrestaurant-hero')}}>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 simple">
                <div class="grandrestaurant-hero__subtitle_cont">
                    {% if content.hero_subtitle %}
                    <h1 {{ region_attributes.hero_subtitle.addClass(['grandrestaurant-hero__subtitle'])}}>
                        {{ content.hero_subtitle|layout_value }}
                    </h1>
                    {% endif %}
                </div>
                <div class="grandrestaurant-hero__subtitle_cont">
                    {% if content.hero_title %}
                    <h1 {{ region_attributes.hero_title.addClass(['grandrestaurant-hero__title'])}}>
                        {{ content.hero_title|layout_value }}
                    </h1>
                    {% endif %}
                </div>
                <div class="grandrestaurant-hero__subtitle_cont">
                    {% if content.hero_description %}
                    <div {{ region_attributes.hero_description.addClass(['grandrestaurant-hero__description'])}}>
                        {{ content.hero_description|layout_value }}
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="middle">
                    <div class="grandrestaurant-hero__actions">
                        {% if content.hero_actions_link %}
                            {% for item in content.hero_actions_link|array_elements(region_attributes.hero_actions_link.addClass('')) %}
                                {{ item }}
                            {% endfor %}
                        {% endif %}
                        {% if content.hero_actions_text %}
                            {% for item in content.hero_actions_text|array_elements(region_attributes.hero_actions_text.addClass('')) %}
                                {{ item }}
                            {% endfor %}
                        {% endif %}
                    </div>
                    <div class="grandrestaurant-hero__subtitle_cont">
                        {% if content.hero_subtitle %}
                        <h2 {{ region_attributes.hero_subtitle.addClass(['grandrestaurant-hero__subtitle'])}}>
                            {{ content.hero_subtitle|layout_value }}
                        </h2>
                        {% endif %}
                    </div>
                    <div class="grandrestaurant-hero__subtitle_cont">
                        {% if content.hero_title %}
                        <h1 {{ region_attributes.hero_title.addClass(['grandrestaurant-hero__title'])}}>
                            {{ content.hero_title|layout_value }}
                        </h1>
                        {% endif %}
                    </div>
                    <div class="grandrestaurant-hero__subtitle_cont">
                        {% if content.hero_description %}
                        <div {{ region_attributes.hero_description.addClass('grandrestaurant-hero__description')}}>
                            {{ content.hero_description|layout_value }}
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            {# with the card teaser #}
            <div class="col-lg-5 grandrestaurant-hero__card">
                <div class="grandrestaurant-hero__card_title">
                    {% if content.hero_card_title %}
                    <h2 {{ region_attributes.hero_card_title.addClass(['grandrestaurant-hero__card_title_first'])}}>
                        {{ content.hero_card_title }}
                    </h2>
                    {% endif %}
                    {% if content.hero_card_title_two %}
                    <h2 {{ region_attributes.hero_card_title_two.addClass(['grandrestaurant-hero__card_title_second']) }}>
                        {{ content.hero_card_title_two }}
                    </h2>
                    {% endif %}
                </div>
                {% if content.hero_card_icon %}
                <div {{ region_attributes.hero_card_icon.addClass('grandrestaurant-hero__visit_icon')}}>
                    {{ content.hero_card_icon }}
                </div>
                {% endif %}
                {% if content.hero_card_desc %}
                <div {{ region_attributes.hero_card_desc.addClass('grandrestaurant-hero__card_text')}}>
                    {{ content.hero_card_desc }}
                </div>
                {% endif %}
                <div class="grandrestaurant-hero__card_link">
                    {% if content.hero_card_link %}
                        {% for item in content.hero_card_link|array_elements(region_attributes.hero_card_link.addClass('')) %}
                            {{ item }}
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="grandrestaurant-hero__svg">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 20" fill="#fff" preserveAspectRatio="none">
            <path d="M0,0v3c0,0,393.8,0,483.4,0c9.2,0,16.6,7.4,16.6,16.6c0-9.1,7.4-16.6,16.6-16.6C606.2,3,1000,3,1000,3V0H0z"></path>
        </svg>
    </div>
</div>
{% endif %}